-provide(:title, 'Home')
.row
  .span4
    %h2 Idea overview
    %p Pin-robot lets you browse the web for interesting, Pinterest-worthy images and pin them directly to whichever
    Pinboard they please. in-robot let you pull images from Flicker's Creative Commons database, Instagram, Twitpic,
    Reddit/R, YouTube, and PicPlz. Also pin images directly to your Pinterest boards.
  .span4
    %h2 Main usage
    %p Forget about browsing different pages for interesting pictures. Get all of them from Flicker's Creative
    Commons database, Instagram, Twitpic and Reddit/R in one place. Also pin them to your own boards for later use.

    %p
  .span4
    %h2 Find us
    %p{align: "center"}= link_to "github", 'https://github.com/tadadosi/Pin-robot'

