%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %ul.nav.pull-left
        %li= link_to image_tag("bender.jpg", size: "40x40", alt: "Rails"), 'http://rubyonrails.org/'
        %li= link_to "Pin-robot", '#', id: "logo"
      %nav
        %ul.nav.pull-center
          %li= link_to "Join us now!", '#', class: "btn btn-small btn"